mat-toolbar {
    background: rgb(35, 8, 87);
    color: yellow;
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    font-family: 'PokemonSolid', 'arial', sans-serif;

}